<div class="container">
  <div class="home-info row" id="home">
    <div class="home-profile col col-md-6 col-sm-12">
      <h1>Patrycja</h1>
      <div class="home-background">
      </div>
      <div class="home-avatar">
      </div>
    </div>
    <div class="home-intro col col-md-6 col-sm-12">
      <h3>Web designer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac.</p>
      <%= link_to( 'Meet me!', root_path(:anchor => "about"), class:"btn btn-main") %>
      <%= link_to("Say hi!", root_path(:anchor => "contact"), class:"btn btn-main") %>
    </div>
  </div>
  <div id="work">
    <%= render 'shared/home_carousel_multiple2' %>
  </div>
  <div id="experience" class="row">
    <div class="work col col-12 col-md-6 col-sm-12">
      <div class="job">
        <p class="date">2017</p>
        <div class="vertical-line"></div>
        <div class="dot"></div>
        <div class="dot-img"></div>
        <div class="info">
          <h3>Job title</h3>
          <h6>Company</h6>
          <p>description</p>
        </div>
      </div>
    </div>
    <div class="education col col-md-6 col-sm-12">
      <div class="school">
        <p class="date">2017</p>
        <div class="vertical-line"></div>
        <div class="dot"></div>
        <div class="dot-img"></div>
        <div class="info">
          <h3>Job title</h3>
          <h6>School</h6>
          <p>description</p>
        </div>
      </div>
    </div>
  </div>
  <div id="languages" class="cards-languages row">
    <div class="language col col-6 col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
    <div class="language col  col-6col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
    <div class="language col col-6 col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
    <div class="language col col-6 col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
    <div class="language col col-6 col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
    <div class="language col col-6 col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
    <div class="language col col-6 col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
    <div class="language col col-6 col-lg-3 col-md-3 col-sm-6">
      <%= image_tag "design.png" %>
      <h5>Language</h5>
    </div>
  </div>
  <div id="skills" class="cards-skills row">
    <div class="skill card offset-md-1 col col-12 col-lg-3 col-md-12">
      <%= image_tag "design.png" %>
      <h3>Skill</h3>
      <p>description</p>
    </div>
    <div class="skill card offset-md-1 col col-12 col-lg-3 col-md-12">
      <%= image_tag "design.png" %>
      <h3>Skill</h3>
      <p>description</p>
    </div>
    <div class="skill card offset-md-1 col col-12 col-lg-3 col-md-12">
      <%= image_tag "design.png" %>
      <h3>Skill</h3>
      <p>description</p>
    </div>
  </div>
  <div id="endorsements" class="row">
    <div class="endorsement col col-12 col-lg-12">
      <%= image_tag "quote.png" %>
      <div class="endorsement-text">
        <p>Patrycja is creative and not afraid to experiment with ideas, good at receiving feedback. She is always dependable, organised and efficient.</p>
        <h6>Zefa Mongan, MCM Architecture</h6>
      </div>
    </div>
    <div class="endorsement col col-12 col-lg-12">
      <%= image_tag "quote.png" %>
      <div class="endorsement-text">
        <p>I am impressed by how passionate, excited and inspired Patrycja is. She is always doing above and beyond. Her design is considered with attention to ‘the why’. </p>
        <h6>Terri Scott, MCM Architecture</h6>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="about row">
      <%= image_tag "profile-home.png", class:"about-img col col-12 col-md-4 col-sm-12" %>
      <div class="col col-12 col-md-8 col-sm-12">
        <h3>Web designer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac.</p>
      </div>
      <div class="hobbies col col-12 col-xl-12">
        <div class="hobby">
          <%= image_tag "design.png" %>
          <h6>Design</h6>
        </div>
        <div class="hobby">
          <%= image_tag "sailing.png" %>
          <h6>Sailing</h6>
        </div>
        <div class="hobby">
          <%= image_tag "games.png" %>
          <h6>Gaming</h6>
        </div>
        <div class="hobby">
          <%= image_tag "book.png" %>
          <h6>Reading</h6>
        </div>
      </div>
    </div>
  </div>
  <div id="contact">
    <%= render 'shared/form' %>
  </div>
  <div class="pulse pulse-two"></div>

  </div>
  <div class="pulse pulse-one"></div>
</div>
